/* основной цвет текста #757575 */
/* цвет заголовков #212121 */
/* акцент #2196F3 */
/* белый цвет текста #FFFFFF */
/* черный цвет лого #000000 */
/* цвет  фона нашей команды  #F5F4FA*/
/* цвет фона футера #2F303A */
/* цвет с прозрачностью rgba(255, 255, 255, 0.6); */

:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-black-color: #000000;
  --background-color-command: #f5f4fa;
  --background-color-footer: #2f303a;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
ul {
  list-style: none;
}
/* Logo */
.logo-header {
  color: var(--logo-black-color);
}
.logo-accent {
  color: var(--accent-color);
}
.logo-footer {
  color: var(--primary-white-color);
}

/* Header */
.site-nav .link {
  color: var(--title-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.auth-nav .link {
  color: var(--primary-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
.header {
  background-color: var(--primary-white-color);
}
/*ГЕРОЙ*/
.hero {
  background-color: var(--background-color-footer);
}
.hero-title {
  color: var(--primary-white-color);
}
.hero .hero-btn {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/* основной контент */
.title {
  color: var(--title-color);
}
.team {
  background-color: var(--background-color-command);
}
/* Footer  */
.add .link {
  color: rgba(255, 255, 255, 0.6);
}
.add .add-link {
  color: var(--primary-white-color);
}
.basement {
  background-color: var(--background-color-footer);
}
/* Кнопки портфолио */
.filter .btn {
  color: var(--title-color);
  background-color: var(--background-color-command);
}
.filter .btn:hover,
.filter .btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
